@import "tailwindcss";
@font-face {
    font-family: "Death Star";
    src: url("https://db.onlinewebfonts.com/t/c1997be3f7e3024fe97d0af51c35368c.eot");
    src: url("https://db.onlinewebfonts.com/t/c1997be3f7e3024fe97d0af51c35368c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c1997be3f7e3024fe97d0af51c35368c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/c1997be3f7e3024fe97d0af51c35368c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/c1997be3f7e3024fe97d0af51c35368c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/c1997be3f7e3024fe97d0af51c35368c.svg#Death Star")format("svg");
}
@font-face {
    font-family: "Soloist";
    src: url("https://db.onlinewebfonts.com/t/874db865c7d5005f974300a896661a4f.eot");
    src: url("https://db.onlinewebfonts.com/t/874db865c7d5005f974300a896661a4f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/874db865c7d5005f974300a896661a4f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/874db865c7d5005f974300a896661a4f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/874db865c7d5005f974300a896661a4f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/874db865c7d5005f974300a896661a4f.svg#Soloist")format("svg");
}
body {
  background-color: black; /* color de respaldo por si la imagen no carga */
  background-image: url('./assets/images/space.jpg');
  background-size: cover;       /* la imagen cubre todo el fondo */
  background-position: center;  /* centra la imagen */
  background-repeat: no-repeat; /* no repite la imagen */
}

